body {
    font-size: 12 pt;
    /*background-color: #EEF2FF;
    background-image: url('../img/blue-grad.png');
    background-repeat: repeat-x;
    background-position: top;*/
    background-color: gray;
    color: #000000;
}

form {
    padding: 15px;
}

a[href], a[href]:visited {
    /*background:inherit;*/
    color:#dc9d01;
    text-decoration:none;
    font-family:sans-serif;
}

a[href]:hover {
    color:#f5deb3;
    /*background:inherit;*/
    font-family:sans-serif;
}

hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 1em 0;
    border: 0;
    background: #C7CAD4;
    background: -moz-linear-gradient(left, rgba(199,202,212,0.05) 0%, rgba(199,202,212,0.05) 1%, rgba(199,202,212,0.75) 10%, rgba(199,202,212,1) 50%, rgba(199,202,212,0.75) 90%, rgba(199,202,212,0.05) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(199,202,212,0.05)), color-stop(1%,rgba(199,202,212,0.05)), color-stop(10%,rgba(199,202,212,0.75)), color-stop(50%,rgba(199,202,212,1)), color-stop(90%,rgba(199,202,212,0.75)), color-stop(100%,rgba(199,202,212,0.05))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(199,202,212,0.05) 0%,rgba(199,202,212,0.05) 1%,rgba(199,202,212,0.75) 10%,rgba(199,202,212,1) 50%,rgba(199,202,212,0.75) 90%,rgba(199,202,212,0.05) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(199,202,212,0.05) 0%,rgba(199,202,212,0.05) 1%,rgba(199,202,212,0.75) 10%,rgba(199,202,212,1) 50%,rgba(199,202,212,0.75) 90%,rgba(199,202,212,0.05) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(199,202,212,0.05) 0%,rgba(199,202,212,0.05) 1%,rgba(199,202,212,0.75) 10%,rgba(199,202,212,1) 50%,rgba(199,202,212,0.75) 90%,rgba(199,202,212,0.05) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(199,202,212,0.05) 0%,rgba(199,202,212,0.05) 1%,rgba(199,202,212,0.75) 10%,rgba(199,202,212,1) 50%,rgba(199,202,212,0.75) 90%,rgba(199,202,212,0.05) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dc7cad4', endColorstr='#0dc7cad4',GradientType=1 ); /* IE6-9 */
}

.pic {
    float: left;
    border: #9988EE solid;
    border-width: 1px;
    margin: 10px;
    padding: 1px;
    width: 330px;
    height: 248px;
}

.daily {
    float: right;
    margin: 10px;
    padding: 1px;
}

.logo+hr {
    display: none;
}
.logo {
    display:block;
}

.logo {
    clear: both;
    text-align:center;
    /*background:inherit;*/
    font-size:24pt;
    color:#AF0A0F;
    width:100%;
}

#footer {
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 90%;
    text-align:center;
    font-size:10px;
    font-family:sans-serif;
}


.replymode {
    background: #444444;
    color: lightgray !important;
    width:100%;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 5px;
}

#playing {
    width: 75%;
}

#player {
    /*width: 30%;*/
    float: left;
    margin: 10px;
    padding: 10px;
}

#announcer {
    /*font-size:0.7em;*/
    /*width: 70%;*/
    font-size: 16px;
    font-family: sans-serif;
    float: right;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

#rules li {
    margin-left: 1em;
    /*text-indent: 0em;*/
}

body,html {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px auto;
    font-size: .9em;
}

body {
    margin-left: 2%;
    margin-right: 2%;
}


ol li label {
    background-color: #D6DAF0 !important;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #C5C8D2;
    padding: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-size: 12px;
}

ol li * {
    vertical-align: middle;
    color: #4F5260 !important;
}

ol li small {
    float:left;
    margin-top: .5em;
    /*font-size: inherit;
    font-weight: bold;*/
}

.navbar {
    background-color:#393636;
    border:1px solid black;
    margin-top:5px;
    padding: .5em;
    text-align:center;
    color: #dc9d01;
}

ol, li {
    list-style-position:inside;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
#welcome {
    font-size: 12pt;
}

.dj {
    font-size: 12pt;
}

table {
    float: right;
    padding: 10px;
    /* color: #4F5260; */
    background-color: #EB813B;
    color: lightgray !important;
    text-align: top;
    border: 1px solid black;
    /* background-color: #D6DFF0;*/
}
